# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
.bundle
*.jsbundle

# CocoaPods
/ios/Pods/

# Gemfile
.bundle

# Local History for Visual Studio Code
.history/

# Android
build/
.idea
.gradle
local.properties
*.iml
